# PBS configuration
queue: normal
# project: v45
walltime: 5:00:00
jobname: 025deg_core2_nyf
ncpus: 1824
# shortpath: /short/v45

# Model configuration
name: common
model: access-om2
input: /short/public/access-om2/input_rc/common_025deg_core
submodels:
    - name: atmosphere
      model: yatm
      exe: /short/public/access-om2/bin/yatm_b77aecd2.exe
      input: /short/public/access-om2/input_rc/yatm_025deg
      ncpus: 1

    - name: ocean
      model: mom
      exe: /short/public/access-om2/bin/fms_ACCESS-OM_2a69f46f_libaccessom2_b77aecd2.x
      input: /short/public/access-om2/input_rc/mom_025deg
      ncpus: 1455

    - name: ice
      model: cice5
      exe: /short/public/access-om2/bin/cice_auscom_1440x1080_480p_47650cc7_libaccessom2_b77aecd2.exe
      input: /short/public/access-om2/input_rc/cice_025deg
      ncpus: 361

# Collation
collate:
  walltime: 1:00:00
  mem: 30GB
  ncpus: 4
  queue: express
  restart: True
  exe: /short/public/access-om2/bin/mppnccombine

# Misc
runlog: True
stacksize: unlimited
mpirun: --mca orte_base_help_aggregate 0
qsub_flags: -W umask=027

# DANGER! Do not uncomment this without checking the script is synching to the correct location!
# postscript: sync_to_gdata.sh
